<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <link rel="stylesheet" href="/main.css">
  <script src="/jquery-3.6.3.min.js"></script>
</head>
<body>
<div th:replace="menu :: menu"></div>
<div class="content">
  <div class="_ogran">
    <span style="background-color: white; border-radius: 10px; padding: 1em; color: black; font-weight:bold;">
      Информация про автора
    </span>
  </div>
</div>
</body>
</html>